apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  labels:
    app: backend
spec:
  replicas: 2 #chạy 2 bản sao
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: 08manhacr.azurecr.io/backend:v14  #docker image
        imagePullPolicy: Always
        ports:
        - containerPort: 3000
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "200m"
        env:
        - name: PORT
          value: "3000"
        - name: OPENID_ISSUER
          value: "https://id-dev.mindx.edu.vn"
        - name: OPENID_CLIENT_ID
          value: "mindx-onboarding"
        - name: OPENID_CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: auth-secrets
              key: OPENID_CLIENT_SECRET
        - name: OPENID_REDIRECT_URI
          value: "https://20.197.84.14.nip.io/api/auth/callback"

        - name: NODE_ENV
          value: "production"
        - name: APPINSIGHTS_CONNECTION_STRING
          valueFrom:
            secretKeyRef:
              name: backend-secrets
              key: APPINSIGHTS_CONNECTION_STRING
        livenessProbe:
          httpGet:
            path: /api/health
            port: 3000
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /api/health
            port: 3000
          initialDelaySeconds: 5
          periodSeconds: 5
      imagePullSecrets:
      - name: acr-secret
